.label-input {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.label-input input {
  background: none;
  border: none;
  outline: none;
  flex: 1 1 100px;
  color: $g15-platinum;
  font-family: $ix-text-font;
  font-weight: 600;
  letter-spacing: 0px;
  font-size: $form-sm-font;

  &:focus {
    color: $g20-white;
  }
}

.label-input.form-control.input-sm {
  &.input-sm {
    height: $form-sm-height;
    padding: 0 $form-sm-padding;
    font-size: $form-sm-font;
  }
}

.label-input--label {
  background: $g5-pepper;
  border-radius: 3px;
  margin: 4px 3px 4px 0;
  display: flex;
  align-items: center;
  padding: 2px 8px;
}

.label-input--remove {
  font-size: 10px;
  padding-top: 1px;
  padding-left: 8px;
  cursor: pointer;

  &:hover {
    color: $g20-white;
  }
}
