.suggestion-input {
  position: relative;
  overflow: visible;
  font-family: $code-font;
}

.suggestion-input .form-control.suggestion-input--input {
  font-family: $code-font;
  font-size: 12px;
}

.suggestion-input--suggestions {
  position: absolute;
  top: calc(100% + 2px);
  width: 100%;
  max-height: 250px;
  z-index: 1000;
  box-shadow: 0 2px 5px 0.6px fade-out($g0-obsidian, 0.8);
  border-radius: 4px;
  overflow: hidden;
  @include gradient-h($dropdown-purple-dark,$dropdown-purple-bg);

  &.hidden {
    display: none;
  }
}

.suggestion-input-suggestion {
  padding: 5px 6px;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover,
  &.selected:hover {
    @include gradient-h($dropdown-purple-hover,$dropdown-purple-bg);
  }

  &:active, &.selected {
      @include gradient-h($dropdown-purple-press,$dropdown-purple-bg);
  }
}
